@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
    
    max-width: 100%;
}
body {
    color: whitesmoke;
	line-height: 1;
    background-color: darkslategrey;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset above this.*/


header {
    background-color: darkgray;
    border-bottom: black 3px solid;
}

header h1 {
    font-size: 4rem;
    font-family: 'Jost', sans-serif;
}

h1 {
    padding-top: 30px;
    padding-left: 30px;
}

header nav {
    display:flex;
    justify-content: flex-start;
    align-items: center; 
}

nav a {
    color: whitesmoke;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    font-size:2rem;
    padding: 0.5%;
    margin: 1%;
    border-radius: 5%;
    box-shadow: inset 0 0 0 0 darkgrey;
}

nav a:hover {
    box-shadow: inset 300px 0 0 0 rgb(49, 238, 197);
    transition: ease-in .3s;
}

.section1 {
    display: flex;
    justify-content: space-around;
    padding: 10px; 
}

.section1 .mainImage {
    padding: 1%;
}

.mainImage img {
    height: 1000px;
    width: 1000px;        
}

.aboutMe {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}

.button {
    background-color: teal;
    padding: 8px;
    margin: 10px;
    font-size: 30px;
    font-family: 'Jost', sans-serif;
}

.button:hover {
    box-shadow: inset 300px 0 0 0 rgb(49, 238, 197);
    transition: ease-in .3s;
}

.aboutMe h2 {
    margin-top:10%;
    font-size: 50px;
    font-family: 'Jost', sans-serif;    
}

.aboutMe p {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
}

.text {
    height: 800px;
    width: 800px;
}

.gallery {
    display: flex;
    max-width: 100vw;
    height: 40%;
    padding: 2%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gallery div {
    height: 500px;
    width: 500px;
    margin: 1%;
    padding: 1%;
}

.gallery div:hover {
    transition:ease-out .3s;
    opacity: 60%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: darkgray;
    border-top: black 3px solid;
}

.footerInfo {
    height: 10%;
    max-width: 100%;
}

footer h3 {
    font-size: 30px;
    font-family: 'Jost', sans-serif;

}

    
